@page "/register"
@using cAPParel.BlazorApp.Models
@inject cAPParel.BlazorApp.Services.UserServices.IUserService userService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@user" OnValidSubmit="RegisterUser">
                <DataAnnotationsValidator />
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Account Name</label>
                                <InputText @bind-Value="user.Username" class="form-control" id="username" placeholder="Enter your account name" />
                                <ValidationMessage For="@(() => user.Username)" />
                            </div>
                            <div class="form-group">
                                <label for="username">Address</label>
                                <InputText @bind-Value="user.Address" class="form-control" id="address" placeholder="Enter your address" />
                                <ValidationMessage For="@(() => user.Address)" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <InputText @bind-Value="user.Password" type="password" class="form-control" id="password" placeholder="Enter your password" />
                                <ValidationMessage For="@(() => user.Password)" />
                            </div>
                            <div class="form-group">
                                <label for="code">Code</label>
                                <InputText @bind-Value="user.AdminCode" type="password" class="form-control" id="code" placeholder="Enter invitation code if you have one" />
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </EditForm>
            @if(message is not null)
            {
                <div class="alert alert-danger" role="alert">
                    @message
                </div>
            }           
        </div>
    </div>
</div>


@code 
{
    private UserForClientCreation user = new UserForClientCreation();
    private string? message;

    private async Task RegisterUser()
    {

        try
        {
            await userService.Register(user);
        }
        catch(Exception ex)
        {
            message = ex.Message.Trim('"');
            user.Username = string.Empty;
            user.Password = string.Empty;
            return;
        }
        NavigationManager.NavigateTo("/Login");
    }
}
