<div class="top-row navbar navbar-dark" style="display: flex; flex-direction: column; height: 100vh; background: linear-gradient(to bottom, #ECD11D, #AA098C);">
    <div class="container-fluid" style="flex: 0.2; display: flex; align-items: center; justify-content: center;">
        <img src="Images/TransparentLogo.png" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="flex: 0.8; overflow-y: auto; width: 100%;">
        <nav class="flex-column" style="width: 100%;">
            <div class="nav-item px-3" style="width: 100%;">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="width: 100%; justify-content: center; font-weight: 800;">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3" style="width: 100%;">
                <NavLink class="nav-link" href="register" style="width: 100%; justify-content: center; font-weight: 800;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                    </svg>
                    Register
                </NavLink>
            </div>

            <div class="nav-item px-3" style="width: 100%;">
                <NavLink class="nav-link" href="login" style="width: 100%; justify-content: center; font-weight: 800;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                    </svg>
                    Login
                </NavLink>
            </div>
        </nav>
    </div>
</div>

